canvas-input-container {
  position: relative;
}

#input-container {
  display: grid;
  flex-wrap: wrap;
  gap: 0;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 60%;
}

input {
  text-align: center;
  margin: 0px;
  padding: 0px;
  /* border: none; */
  border: 1px solid #9b9b9b9d;
  border-radius: 0px;
}

input:focus {
  outline: none;
}